body {
  background-color: #f2f2f2;
  color: white;
  font-family: 'Questrial', sans-serif;
  margin: 0;
}
.tophead {
  background-color: #008d94;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}

#realest {
  background-color: #d1d1d1;
  width: 100%;
  text-align: center;
}

#realest th {
  background-color: #43bf71;
  padding: 5px;
}

#realest td {
  padding: 12px;
  color: black;
  border-bottom: 3px solid #787878;
}



.mainleft
    {
     position: fixed;
     font-size: 24px;
     top: 0;
     left: 0;
     right: 180px;
     bottom: 0;
     overflow: auto;
     background-color: beige;
     color: brown;
    }

    .headnav {
      margin: 0;

    }

    .name{
      display: block;
      color: YellowGreen;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      font-size: 44px;
      margin: auto;
      font-family: 'Playfair Display', serif;
    }
