/*
dark gray: #474747
dark blue: #235278
yellow: #f1d07e
beige: #FDF9F4
*/


body {
  background-color: #FDF9F4;
  color: white;
  font-family: 'Questrial', sans-serif;
  margin: 0;
}


#realest {
  background-color: #d1d1d1;
  width: 100%;
  text-align: center;
}

#realest th {
  background-color: #43bf71;
  padding: 5px;
}

#realest td {
  padding: 12px;
  color: black;
  border-bottom: 3px solid #787878;
}
.subhead {
  background-color: #008d94;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}

.mainleft
    {
     position: fixed;
     font-size: 24px;
     top: 0;
     left: 0;
     right: 180px;
     bottom: 0;
     overflow: auto;
     background-color: beige;
     color: brown;
    }

    .headnav {
      margin: 0;

    }

    .name{
      display: block;
      color: YellowGreen;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      font-size: 44px;
      margin: auto;
      font-family: 'Playfair Display', serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #232323;
    }

    li {
      margin: 0;
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 36px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #121212;
    }

    .active {
      background-color: YellowGreen;
      padding: 36px;
    }
    .active:hover{
      background-color: #C10000;
    }

    .housepic {
      border-radius: 8px;
    }
