body {
  background-color: #f2f2f2;
  color: white;
  font-family: sans-serif;
}
.tophead {
  background-color: #008d94;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}

#realest {
  background-color: #d1d1d1;
  width: 100%;
  text-align: center;
}

#realest th {
  background-color: #43bf71;
  padding: 5px;
}

#realest td {
  padding: 12px;
  color: black;
  border-bottom: 3px solid #787878;
}
